/* Extra Small Devices (e.g., Smartphones) */

@media only screen and (max-width: 576px) {
    .custom-form button {
        width: 100%;
        padding: 10px 20px;
    }
    .mordern-finanace {
        background-color: #eee;
        padding: 10px;
    }
    #partnerLoginForm {
        height: 24rem;
    }
    .sign-up-container {
        width: 100%;
        height: 65rem;
    }

    .sign-in-container {
        width: 100%;
        height: 35rem;
    }
    .partner-container {
        width: 90%;
        margin: auto;
        min-height: 350px;
    }
    .overlay-container {
        display: none;
    }
    .success-area-content-mobile {
        padding: 1rem;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border: 1px solid #dbdbdb;
    }

    .success-area-content:hover {
        box-shadow: none;
        transition: none;
    }

    .privacy-policy {
        padding: 10px;
    }
    .callout {
        margin: 0 4%;
        padding: 30px 0px;
    }

    .success_section {
        background: var(--secondary-bg-color);
        padding: 10px 0px;
    }

    .details-titles {
        box-shadow: none;
    }

    .story-mb {
        padding-top: 30px;
    }

    .content-box {
        background: #fff;
        border: 2px solid #d4d0ca;
        margin-top: -2px;
        height: 11.4rem;
        text-align: center;
        padding: 30px 10px 30px 10px;
    }

    .industry_single_help_list {
        padding-left: 0px;
    }

    .industry_single_help_list ul {
        margin: 0;
        padding: 0;
        margin-top: 20px;
        text-align: start;
        margin-left: 1rem;
    }
    .cusrve-arrow {
        transform: rotate(90deg);
        width: 110px;
        height: 70px;
        padding: 5px;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .blog_header {
        background-image: url(../images/buy-category-hero.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* padding: 180px 0px; */
        height: 200px;
    }

    .blog_feature_extra {
        text-align: justify;
        padding: 25px;
    }

    .content_wrapper {
        position: relative;
        padding: 24px;
    }

    .related-item {
        opacity: 1;
        transition: all linear 0.3s;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .main_blogs {
        margin-top: -2rem !important;
    }

    .global-action-btn {
        text-align: center;
        margin-top: 1rem;
    }

    .Advance-Slider .img-fill img {
        height: 11rem;
    }

    .image_box_features {
        height: 275px;
    }

    .sidebar-wrapper .sidebar-header .user-info {
        float: left;
        padding-top: 20px;
    }

    .dashboard-container {
        margin-right: 0px;
    }

    .content-box-area {
        padding: 0px !important;
    }

    .footer_middle_wrapper {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .service_common_content h3 {
        font-size: 25px;
        text-align: center;
        opacity: 0.9;
        font-weight: 500;
        font-style: normal;
        color: #222;
        margin: 30px 0px;
    }

    .service_common_content p {
        line-height: 1.3;
        text-align: center;
    }

    .service_common_content a {
        text-align: center;
        margin: auto;
        display: flex;
        justify-content: center;
        width: 60%;
    }

    .brand-container {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .thing_together_wrapper_contactpage {
        text-align: center;
    }

    .thing_together_wrapper_contactpage h4 {
        color: #000;
        font-size: 25px;
        font-family: var(--primary-font);
        font-weight: 400;
        margin-top: 15px;
    }

    .thing_together_wrapper_contactpage a {
        margin-bottom: 15px;
    }

    .info-areas {
        text-align: center;
        margin-top: 0px !important;
        margin-bottom: 3rem;
    }

    .area_outer {
        padding: 30px;
    }

    .callout-num {
        font-size: 35px;
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    .map-area {
        margin: 0px !important;
    }

    .about_seo_text h2 {
        font-size: var(--section-title-font-size);
        text-align: center;
        padding: 15px;
    }

    .hover-2-title {
        position: absolute;
        top: 65%;
        left: 1%;
        text-align: start;
        width: 100%;
        z-index: 99;
        transition: all 0.3s;
        padding: 5px;
    }

    .software-info-title {
        padding-top: 2rem;
    }

    .blocks-content {
        padding: 1rem !important;
        height: 100%;
    }

    .block-image-content {
        height: 42rem !important;
    }

    .animated-image {
        border-radius: 0 0 0% 50%;
        overflow: hidden;
        animation: border-radius-right 12s ease-in-out infinite;
        animation-delay: 8s;
    }

    .what-we-do-title {
        width: 100%;
    }

    .masthead h1 {
        font-size: 24px;
        text-align: center;
    }

    .masthead p {
        font-size: 16px;
        text-align: center !important;
    }

    .masthead a {
        color: #ae0a46;
        text-decoration: none;
        z-index: 1;
        display: flex;
        justify-content: center;
        width: 52%;
        margin: auto;
    }

    .what-we-banner-card {
        font-family: "Allumi Std Extended";
    }

    .what-we-do-banner-card {
        width: 100% !important;
        margin: 10px !important;
    }

    .banenr-cards {
        margin-bottom: 10px !important;
        padding: 0px !important;
    }

    .text-sm-center {
        text-align: center;
    }

    .align-items-sm-center {
        text-align: center;
    }

    .my-sm-3 {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }

    /* -------------------------------- HomePage -------------------------------- */
    .page_top_banner {
        height: 7rem;
    }

    .outcome_smail_bussiness_title {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    .padding_top {
        padding-top: 2rem;
    }

    .company-tab-title-products span {
        display: flex;
        justify-content: center;
    }

    .single-product-container {
        padding: 0px;
    }

    .single-product-details {
        padding: 10px;
    }

    .need_help {
        display: inline-block;
        color: #666666;
        text-align: center;
        padding-top: 0px;
    }

    .solution_contact_wrapper {
        background-color: #252525;
        padding: 0px 0px !important;
    }

    .top-line-title {
        margin-top: 2rem;
        text-align: center;
    }
    .some-menu-area {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: auto;
        width: 75%;
    }

    .story-title {
        font-size: 20px;
        text-align: center;
        padding-top: 30px;
    }

    .text-justify {
        text-align: justify;
    }

    .btn-white {
        font-size: 0.8rem;
    }

    .thing_together_wrapper h5 {
        color: #fff;
        font-size: 23px;
        font-family: "Allumi Std Extended";
        margin-top: 29px;
    }

    .thing_together_wrapper h4 {
        color: #fff;
        font-size: 25px;
        font-family: "Allumi Std Extended";
        font-weight: 400;
        margin-top: 30px;
    }

    .thing_together_wrapper p {
        color: #fff;
        font-size: 13px;
        font-family: "Allumi Std Extended";
        font-weight: 400;
    }

    .page-top-banner {
        height: 130px;
    }

    .main_header_area {
        height: 85px;
    }

    .single-product-description {
        margin-top: 1rem;
    }

    .brand-product-btn {
        font-size: 14px;
        width: 100%;
        padding: 10px;
    }

    .need_help h6 {
        font-size: 12px;
    }

    .brand-page-header-container {
        width: auto;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
        padding: 0px 10px;
        background-color: #fff;
    }

    .custom-col-5 {
        width: 100%;
        flex: 0 0 auto;
        position: relative;
        left: -2px;
    }

    .mobile-brand-page-header-container {
        width: auto;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
        padding: 0px 10px;
        background-color: #fff;
    }

    .active-brands {
        padding: 5px;
    }
    .breadcrumb-nav-items {
        margin-bottom: 5px;
        margin-left: 0px !important;
        width: 100%;
        margin-bottom: 3px !important;
        font-size: 12px;
    }
    .word,
    .normal_text {
        font-size: 38px !important;
    }

    .brand-p-title {
        margin-bottom: 0px !important;
    }

    .success-area {
        padding: 0px 5px 17px;
        margin: 3px;
    }

    .success-area-content {
        margin-top: 25px;
        padding: 39px 20px;
        height: 100%;
    }

    .input-group-text {
        padding: 5px;
    }

    .mobile-container-dropdown {
        position: static !important;
        height: 380px;
        transform: none;
        border-radius: 0;
        margin: 0;
        margin-bottom: 10px !important;
        overflow-y: scroll;
        transform: translate(0px, 3px) !important;
    }

    .navbar-nav .nav-item.active > .nav-link {
        border-bottom: none;
    }

    #sync1 .item {
        padding: 0px 5px;
    }

    #sync2 .item {
        padding: 0px 5px;
    }

    #sync3 .item {
        padding: 0px 5px;
    }

    .custom_col-2 {
        flex: 0 0 auto;
        width: 95% !important;
        margin-bottom: 3rem;
    }

    .feature_description {
        padding-top: 0.3rem;
    }

    .home_shop_product_wrapper h5 {
        text-align: center !important;
        width: 100% !important;
    }

    .home_shop_button {
        display: flex !important;
        justify-content: center !important;
        margin-bottom: 20px !important;
    }

    .product_brand {
        display: flex;
        justify-content: center !important;
        margin-top: 2rem;
    }

    .account_benefits_section_wp {
        padding: 0px;
        color: #3e332d;
    }

    .client_stories_item {
        text-align: center !important;
    }

    .client_stories_item h3 {
        text-align: center !important;
        padding: 10px !important;
    }

    .account_benefits_section {
        text-align: center !important;
    }

    .navbar-toggler {
        font-size: 13px !important;
        padding-top: 7px !important;
        padding-left: 10px !important;
        height: 43px !important;
    }

    .for_sm_menu {
        padding: 0.5rem !important;
    }

    .common_button2 {
        padding: 8px;
        margin: 0px;
        text-align: center;
    }

    .popover__content-2 {
        position: absolute;
        left: -60px;
        right: 0px;
        transform: translate(0, 0px);
        background-color: #fff;
        padding: 1rem 1.5rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        width: auto;
    }

    .popover__content:before {
        right: calc(50% - -50px);
    }

    .common_button3 i {
        margin-top: 1rem;
    }

    .shop_extra_btn {
        position: relative;
        right: 145px;
        top: -6px;
        padding: 0px;
    }

    .Advance-Slider .item {
        padding: 0;
        margin: 0px !important;
    }

    .home_banner_bottom_title {
        width: 100% !important;
        position: relative;
        top: 0;
        margin-top: -4rem;
    }

    .home_title_heading {
        font-family: "Allumi Std Extended";
        font-size: var(--section-title-font-size);
        width: 100% !important;
        color: var(--heading);
        font-weight: 400;
        margin-top: 1.5rem !important;
        margin-bottom: 1rem !important;
        line-height: 1.2;
        text-align: center !important;
    }

    .home_title_text {
        line-height: 1.5;
        text-align: center !important;
        font-size: 14px;
        width: 100% !important;
        margin-bottom: 1.25rem;
    }

    .home_banner_bt-title {
        font-size: 17px;
        line-height: 1.2;
        text-transform: capitalize;
    }

    .feature_description {
        text-align: center;
        height: auto !important;
    }

    .business_seftion_button {
        text-align: center !important;
        margin: -35px 0px 0px;
    }

    .learn_more {
        padding-top: 0px !important;
    }

    .learn_clint_history_btn {
        text-align: center;
        margin-top: 0px !important;
        margin-bottom: 30px !important;
    }

    .title_top_heading {
        padding-bottom: 1rem !important;
        padding-top: 2rem !important;
    }

    .account_benefits_section h4 {
        margin-top: 10px !important;
        margin-bottom: 21px !important;
    }

    .banner_bottom_box {
        width: 100% !important;
        top: -2.5rem;
        /* padding-top: 2.8rem !important; */
    }

    .home_banner_card {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        height: auto !important;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .home_banner_card h2 {
        font-size: 13px;
    }

    .mobile-sm-none {
        display: none !important;
    }

    .mobile-lg-show {
        display: block !important;
    }

    .item {
        margin: 0px !important;
        border: 1px solid #efefef;
        padding: 0px !important;
    }

    .feature_descrip {
        height: auto !important;
    }

    .partner-form-container form {
        background: #fff;
        display: flex;
        flex-direction: column;
        padding: 25px 25px !important;
        height: 335px;
        align-items: center;
        text-align: center;
    }

    .view-password {
        position: relative;
        left: 16rem;
    }

    .client_login {
        width: 85% !important;
    }

    .breadcrumb {
        height: 30px;
        text-align: start !important;
        padding: 0px;
        margin: 0px;
        width: 500px !important;
    }

    .sidebar_industry div {
        display: flex;
        justify-content: center;
    }

    .common_product_header h1 {
        font-size: 35px !important;
    }

    .section_text_wrapper {
        text-align: center;
        margin: 20px;
    }

    .section_text_wrapper p {
        font-size: 1rem;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .effect01 {
        transition: all 0.8s ease-in-out;
        font-size: 13px;
    }

    #nav-tab .nav-link:first-child {
        border-bottom-left-radius: 0px;
    }

    #nav-tab .nav-link:last-child {
        border-top-right-radius: 0px;
    }

    nav > div a.nav-item.nav-link,
    nav > div a.nav-item.nav-link.active {
        padding: 5px;
        font-size: 14px !important;
    }

    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
        border-bottom: 4px solid #ae0a46 !important;
    }

    .tabs_title {
        text-align: center !important;
    }

    .solution_main_title {
        font-size: 17px !important;
        font-weight: 600;
    }

    nav > .nav.nav-tabs {
        border: none;
        color: #fff;
        border-radius: 0;
        display: flex;
    }

    .solution_para {
        width: 100%;
        margin: auto;
    }

    .section_title_solution {
        text-align: center !important;
    }

    .solution_sidebar {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        align-items: center;
    }

    .thing_together_wrapper {
        text-align: center;
    }

    .title-tag {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 0.8rem;
        font-size: 17px;
    }

    .title-tag:after {
        width: 100%;
    }

    .tab_content_padding {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .common_button3 {
        display: flex;
        justify-content: center;
        width: 50%;
        margin: auto;
    }

    .what-we-do_side_text h1 {
        text-align: center;
        padding-top: 15px !important;
    }

    .software_feature_title h1 {
        font-size: var(--section-title-font-size);
    }

    .software_feature_title h4 {
        font-size: var(--header-font-size);
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .service_card {
        width: 100%;
        margin: auto;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .what-link {
        margin-top: 2.3rem;
    }

    .section-margin {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .what-we-do_side_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #sync2 .item {
        height: 70px;
    }

    .tech_solution_title {
        font-size: 3em !important;
    }

    .Head .Arrows {
        margin-top: 0rem;
    }

    .iconbox {
        margin-right: 20px;
        margin-left: 20px;
    }

    .holder-main-text {
        padding-left: 0px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .holder-main-text h2 {
        font-size: 20px;
        line-height: 1.3;
        font-weight: 500;
    }

    .holder-main-text p {
        font-size: 15px;
        line-height: 1.2;
        width: 100%;
    }

    .holder-main-text a {
        width: 50%;
        margin: 0rem auto 1rem;
    }

    .side_box_image {
        display: flex;
        flex-direction: column-reverse;
    }

    .showcase-industry-bottom {
        width: 100%;
        height: 250px;
        position: relative;
        color: white;
        text-align: center;
        margin-top: 1px;
        margin: -2px;
        left: 0;
    }

    .fab-info-icon {
        position: fixed;
        bottom: 20px;
        left: 20px;
        width: 3.6rem;
        height: 3.6rem;
        background: #ae0a46;
        border-radius: 50%;
        background: #ae0a46;
        box-shadow: none;
        transition: all 0.3s ease;
        z-index: 1000001;
        border-bottom-left-radius: 5px;
        border: 1px solid #ae0a46;
    }

    .fab-info-icon:before {
        background-color: transparent;
    }

    .fab-info-icon-wheel {
        position: fixed;
        bottom: 1.7rem;
        left: 2rem;
        width: 10.9rem;
    }

    .fab-info-icon-wheel .fab-info-icon-action-1 {
        right: auto;
        top: 0;
        left: -0.4rem;
    }

    .fab-info-icon-wheel .fab-info-icon-action-2 {
        right: 4.2rem;
        top: 0.5rem;
        left: auto;
    }

    .fab-info-icon-wheel .fab-info-icon-action-3 {
        right: 0.5rem;
        bottom: 4rem;
        left: auto;
    }

    .fab-info-icon-wheel .fab-info-icon-action-4 {
        right: 0;
        left: auto;
        bottom: 0;
    }

    /* Fab icon end */
    .category-center {
        margin-right: 0rem !important;
        margin-left: 0rem !important;
    }

    .category-mobile {
        display: none !important;
    }

    .main-navbar {
        padding: 0rem !important;
        position: relative;
        z-index: 999;
    }

    .offcanvas {
        z-index: 10000 !important;
    }

    .offcanvas-icons {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 1px;
        height: 35px;
        line-height: 30px;
        border: 1px solid #e5e2e0;
        width: 35px;
        text-align: center;
        color: #ae0a46 !important;
        text-decoration: none;
        cursor: pointer;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-radius: 30px;
        top: 2px;
    }

    .top-menu-area {
        padding-top: 2px;
        padding-bottom: 8px;
        padding-left: 13px;
    }

    .menu-section {
        height: 3.5rem;
        top: 0px;
    }

    .search-input-container {
        width: 11rem;
        position: relative;
        right: auto;
        margin-top: 5px;
    }

    #mobile_search_container {
        height: 50vh;
        overflow-y: scroll;
    }

    .top-bar-right-side {
        position: relative;
        background-color: #ae0a46;
        padding-right: 0.9rem;
    }

    .navbar-brand {
        padding: 0px;
        margin-right: 0px;
    }

    .site-main-logo {
        height: 50px;
        width: 85px;
    }

    .popover__content {
        position: absolute;
        left: -52px;
        right: -2px;
        top: -5px;
        transform: translate(0, 10px);
        background-color: #fff;
        padding: 0rem 1.5rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        width: auto;
        z-index: 99999 !important;
    }

    .brand-bread-crumb {
        font-size: 16px;
        display: flex;
    }

    .extra-d-flex {
        display: flex;
        justify-content: center;
    }

    .company-tab-title {
        font-size: 20px;
        text-align: center;
        /* border-bottom: none !important; */
    }

    .brand-p-content {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .company-tab-title span {
        left: 0;
    }

    .eyebrow_title {
        margin-top: 0rem;
        text-align: center;
        font-size: 20px;
    }

    .company-tab-para {
        margin-top: 1rem;
        font-family: "Allumi Std Extended";
        text-align: justify;
        font-size: 15px;
    }

    .brandpage_row {
        padding-top: 1rem;
        padding-bottom: 1.5rem;
        padding-right: 1rem;
        padding-left: 1rem;
        margin: 0.8rem;
        border: 1px solid #eee;
    }

    .para_text {
        margin-bottom: 2rem;
    }

    .company-tab-para a {
        width: 50%;
        margin: 5px 25%;
    }

    .para_text a {
        display: flex;
        justify-content: center;
    }

    .para_text h2 {
        margin-top: 0.8rem;
    }

    .brandpage_bg_image {
        height: 195px;
    }

    #stand-logo {
        width: 100%;
        max-height: 45px;
        padding: 6px 14px;
    }

    .row_left_image {
        margin-top: 1rem;
        max-width: 422px;
        width: 370px;
        height: 237px;
    }

    .row_right_image {
        max-width: 422px;
        width: 370px;
        height: 237px;
    }

    .text-justify-align {
        text-align: justify !important;
    }

    .no-margin {
        margin: 0px !important;
        padding: 0px !important;
    }

    .drop-items-brand {
        position: absolute;
        inset: 0px auto auto 0px;
        margin: 0px -45px !important;
        transform: translate3d(150px, 69px, 0px);
        width: 48% !important;
    }

    .breadcrumb__item {
        padding: 0 5px;
    }

    .breadcrumb__title {
        font-size: 12px;
    }

    .magazine_content {
        margin: 5px;
        padding: 1rem 6px;
    }

    .home_card_wrapper {
        margin-top: 9rem !important;
    }

    .home_card_item_title {
        font-family: "Allumi Std Extended";
        font-size: 28px;
        font-weight: 300;
        color: var(--heading);
        text-align: center;
        line-height: 30px;
        margin-bottom: 24px;
    }

    .home_card_item {
        max-width: 490px;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
        background-color: #f7f6f5;
        padding: 20px 16px 28px;
        margin-bottom: 20px;
    }

    .sub_tabs_button {
        border-bottom: 2px solid silver;
        padding-top: 0px;
    }

    .sub_tabs_button button {
        min-width: 100%;
    }

    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }

    .cart_item_content_utitlity {
        align-items: center;
        flex-direction: row;
        gap: 50px;
    }

    .solution_common_header h1 {
        padding: 0px 5%;
    }

    .card-row-area {
        margin-top: -2.8rem;
        --bs-gutter-x: 0.5rem;
    }

    .main-to-depp-gradient-2 {
        padding: 3rem 0.2rem 3rem 1.5rem !important;
    }

    .category_icon {
        width: 45px;
        height: 45px;
    }

    .video_row {
        /* margin: 0.8rem; */
        border: 1px solid #eee;
        padding: 1rem 0.5rem;
        text-align: center;
    }

    .text_area {
        height: 4rem;
        font-size: var(--paragraph-font-size);
        line-height: 1.1;
    }

    .brand_img_container {
        width: 100%;
    }

    .slider_inage img {
        width: 100%;
        object-fit: fill;
        display: block;
        height: 200px;
    }

    .header-category-ml-60 {
        margin-left: 5px;
    }

    .d-sm-none {
        display: none !important;
    }

    .for_sm_menu {
        padding: 10px !important;
    }

    .Advance-Slider .item {
        overflow: hidden;
        outline: none;
    }

    .home_card_button {
        margin-top: 0.6rem;
    }

    .home_card_button a {
        display: inline-block;
        padding: 7px 10px;
        color: var(--primary-color);
        border: 1px solid #e3dfdf;
        font-size: 14px;
        font-weight: 500;
        background: var(--white);
        transition: all 0.3s linear;
    }

    .software_feature_title h1 {
        font-size: var(--section-title-font-size);
        line-height: 1.3;
    }

    .about-column-first h2 {
        font-size: var(--section-title-font-size);
        text-align: center;
    }

    .home_title h5 {
        text-align: center;
    }

    .business_item_text {
        text-align: center;
    }

    .service_common_content h5 {
        text-align: center;
    }

    .call_to_action_text h4 {
        font-size: 25px;
        margin-bottom: 25px;
        font-weight: 400;
        color: white;
        text-align: center;
    }

    .home_shop_product_wrapper p {
        font-family: "Allumi Std Extended" !important;
        font-size: var(--paragraph-font-size) !important;
        margin-bottom: 20px;
        text-align: center !important;
        width: 100% !important;
    }

    .home_shop_product_wrapper h5 {
        font-size: 22px;
        font-family: "Allumi Std Extended";
        font-weight: 400;
        opacity: 0.8;
        margin-bottom: 22px;
        text-align: center !important;
    }

    .home_shop_button {
        display: flex !important;
        justify-content: center !important;
        margin-top: 0px !important;
        margin-bottom: 2rem;
    }

    .hover_content_title {
        font-size: 16px;
        margin-right: 0px;
    }

    .width-full {
        width: 100% !important;
    }

    .tech_solution_item {
        text-align: center;
    }

    .hover img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.3s;
        height: 300px;
    }

    .product_brand {
        display: flex;
        justify-content: center !important;
        text-align: center !important;
    }

    .client_stories_item {
        text-align: center;
    }

    .client_stories_item h3 {
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        font-family: "Allumi Std Extended";
        padding: 0px 7px;
    }

    .account_benefits_section h3 {
        text-align: center;
        padding-bottom: 4px;
        margin-bottom: 1rem;
    }

    .account_benefits_section {
        padding-right: 20px;
        text-align: center !important;
    }

    .business_item_button {
        margin-bottom: 2rem;
    }

    .tabing_menu_area {
        padding: 13px 15px 24px 15px;
    }

    .title_top_heading {
        font-size: 26px !important;
        line-height: 34px;
        margin-bottom: 10px;
    }

    .business_services {
        height: 3rem !important;
        padding-top: 10px;
    }

    .Head {
        font-size: 20px !important;
    }

    .footer_top {
        padding: 4px;
    }

    .footer_top p {
        font-size: 15px;
    }

    .footer_item_wrapper {
        padding: 0px 0px 30px 0px;
        text-align: center;
    }

    .footer_item_wrapper h6 {
        text-align: center;
    }

    .footer_item_wrapper p {
        text-align: center;
        width: 100% !important;
    }

    .btn-area {
        display: flex;
        justify-content: center;
    }

    .footer_text {
        font-family: "Allumi Std Extended";
        color: var(--white);
        padding-right: 0% !important;
        text-align: justify !important;
        font-size: 14px !important;
        width: 100%;
        justify-content: center;
        display: contents;
    }

    .footer_subscribe {
        width: 80% !important;
        justify-content: center;
        display: flex;
    }

    .footer_subscribe .input-group-btns {
        width: 30% !important;
    }

    .footer_link_text {
        font-family: "Allumi Std Extended";
        font-size: 14px;
        padding-top: 0px;
    }

    .footer_bottom_text {
        justify-content: center;
        font-size: 14px;
    }

    .social_areas {
        border: none !important;
    }

    .social-icons a {
        margin: 12px 10px !important;
    }

    .headlines {
        left: 20px;
    }

    .clipped {
        clip-path: none;
        max-height: 300px !important;
    }

    .process-scetion .slider-nav-item {
        height: 30px;
        width: 30px;
        margin: 15px 10px;
        line-height: 1.2;
    }

    .dropend:hover > .dropdown-menu {
        position: absolute;
        top: 0;
        left: 100%;
    }

    .dropend .dropdown-toggle {
        margin-left: 0.5em;
    }

    .top-bar-bg {
        background: #ae0a46;
        height: auto !important;
    }

    .upper-content-menu {
        position: relative;
        top: 0rem;
        z-index: 9999;
    }

    .our-team .title_name:before,
    .our-team .title_name:after {
        top: -83px;
    }

    .d-sm-none {
        display: none !important;
    }

    .page-wrapper .page-content {
        display: inline-block;
        width: 100%;
        padding: 18px 0px 15px 20px;
    }

    .section_wrapper {
        padding: 1rem 1rem;
        text-align: center;
    }

    .profile-menu {
        flex-direction: column;
    }

    .profile-menu li {
        margin-bottom: 15px;
    }

    #myform {
        display: flex;
        justify-content: center;
    }

    .footer_nav_list ul {
        text-align: center !important;
    }

    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }

    .background {
        display: block;
    }

    iframe {
        border: 0;
        width: 100%;
    }

    .for_sm_menu {
        padding-left: 13px !important;
        padding-right: 13px !important;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .screen-body {
        padding: 40px;
    }

    .screen-body-item {
        padding: 0;
    }

    .container-area-brand {
        display: block;
        width: 100%;
    }

    .screen-body {
        flex-direction: column;
    }

    .screen-body-item.left {
        margin-bottom: 30px;
    }

    .app-title {
        flex-direction: row;
    }

    .app-title span {
        margin-right: 12px;
    }

    .app-title:after {
        display: none;
    }

    .navbar_menus {
        padding: 10px !important;
    }

    .outcome_smail_bussiness_title h2 {
        font-size: 20px;
        line-height: 1.3;
    }

    .outcome_smail_bussiness_title .lineTop {
        width: 20%;
        margin: 0px 0px 15px 13px;
    }

    .outcome_smail_bussiness_title .lineBottom {
        width: 20%;
        margin: 15px 15px 0px auto;
    }
}

@media only screen and (max-width: 576px) {
    .ag-format-container {
        width: 96%;
    }

    .ag-offer_item {
        width: 100%;
        margin: 0 0 30px;
        border: 0 none !important;
        border-bottom: 1px solid #c1c1c1 !important;
    }

    .ag-offer_visible-item {
        padding: 0 10px 10px;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -moz-box-pack: start;
        -ms-flex-pack: start;
        justify-content: center;
        flex-direction: column;
    }

    .ag-offer_item:hover .ag-offer_visible-item {
        opacity: 1;

        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }

    .ag-offer_hidden-item {
        padding: 0 20px 20px;

        opacity: 1;

        position: static;

        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }

    .ag-offer_item:nth-child(1) .ag-offer_hidden-item,
    .ag-offer_item:nth-child(2) .ag-offer_hidden-item,
    .ag-offer_item:nth-child(3) .ag-offer_hidden-item,
    .ag-offer_item:nth-child(4) .ag-offer_hidden-item,
    .ag-offer_item:nth-child(5) .ag-offer_hidden-item,
    .ag-offer_item:nth-child(6) .ag-offer_hidden-item {
        background-color: transparent;
    }

    .ag-offer_item:hover .ag-offer_text {
        opacity: 1;
    }

    .ag-offer_title {
        padding-top: 20px;
    }

    .ag-offer_text {
        opacity: 1;
        font-size: 18px;
        color: #000;
    }

    .ag-offer_btn {
        border: 2px solid #0000d1;
        background-color: #000080;

        position: static;

        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
}

/* Small Devices (e.g., Tablets) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
    /* Styles for screens between 577 and 768 pixels wide */
    .flipbookkk-title {
        font-size: 2.5vw !important;
    }

    .our-team .team-content:before,
    .our-team .team-content:after {
        height: 75px;
    }

    .our-team .team-content:before {
        transform: rotate(8deg);
    }

    .our-team .team-content:after {
        transform: rotate(-8deg);
    }

    .our-team .title_name:before,
    .our-team .title_name:after {
        width: 10px;
        top: -78px;
        height: 102px;
    }

    .our-team .title_name:before {
        left: 42.5%;
        transform: rotate(-82deg);
    }

    .our-team .title_name:after {
        right: 42.5%;
        transform: rotate(82deg);
    }

    .header-category-ml-60 {
        margin-left: 0px;
    }

    .ag-format-container {
        width: 96%;
    }

    .ag-offer_item {
        width: 100%;
        margin: 0 0 30px;
        border: 0 none !important;
        border-bottom: 1px solid #eeee !important;
    }

    .ag-offer_visible-item {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .ag-offer_item:hover .ag-offer_visible-item {
        opacity: 1;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }

    .ag-offer_hidden-item {
        padding: 0 20px 20px;
        opacity: 1;
        position: static;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }

    .ag-offer_item:nth-child(1) .ag-offer_hidden-item,
    .ag-offer_item:nth-child(2) .ag-offer_hidden-item,
    .ag-offer_item:nth-child(3) .ag-offer_hidden-item,
    .ag-offer_item:nth-child(4) .ag-offer_hidden-item,
    .ag-offer_item:nth-child(5) .ag-offer_hidden-item,
    .ag-offer_item:nth-child(6) .ag-offer_hidden-item {
        background-color: transparent;
    }

    .ag-offer_item:hover .ag-offer_text {
        opacity: 1;
    }

    .ag-offer_title {
        font-weight: bold;
    }

    .ag-offer_text {
        opacity: 1;
        font-size: 18px;
        color: #000;
    }

    .ag-offer_btn {
        border: 2px solid #0000d1;
        background-color: #000080;
        position: static;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }

    .breadcrumb {
        height: 30px;
    }

    .breadcrumb__item {
        padding: 0 20px;
    }

    .page-wrapper.toggled .page-content {
        padding-left: 310px;
    }

    .your_cart_item_wrapper {
        flex-direction: row;
    }

    .cart_item_image {
        max-width: 150px;
        width: 100%;
        display: grid;
        place-content: center;
    }

    .your_cart_item_wrapper {
        align-items: center;
    }

    .cart_item_delete {
        position: unset;
    }

    .cart_item_content {
        width: calc(100% - 150px);
    }

    .cart_item_content_utitlity {
        width: calc(100% - 20px);
    }

    .ipads_menu {
        display: none;
    }

    .menu-section {
        height: 3rem;
    }

    .what-we-description {
        width: 100%;
        margin: auto;
    }
}

/* Medium Devices (e.g., Laptop) */
@media only screen and (min-width: 992px) {
    .job_post_card {
        height: 215px;
    }
    .wedo-cards__sub-heading {
        font-size: var(--paragraph-font-size);
        opacity: 0;
        height: 0;
        overflow: hidden;
        -webkit-transition: opacity 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        transition: opacity 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 15px !important;
    }

    .main-menu-specing {
        margin-right: 2.8rem;
    }

    .footer_link_text {
        font-size: 0.9rem;
    }

    .footer_item_wrapper {
        padding: 12px;
    }

    .footer_item_wrapper h6 {
        font-size: 18px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    /* Styles for screens between 769 and 992 pixels wide */
    .our-team {
        margin-bottom: 30px;
    }

    .our-team .team-content:before,
    .our-team .team-content:after {
        height: 50px;
        top: -24px;
    }

    .our-team .title_name:before,
    .our-team .title_name:after {
        top: -85px;
        height: 102px;
    }

    .our-team .title_name:before {
        left: 35%;
    }

    .our-team .title_name:after {
        right: 35%;
    }

    .rfq-top {
        width: 63% !important;
        margin-left: 12.5rem !important;
    }

    .custom-col-5 {
        flex: 0 0 auto;
        width: 20%;
    }

    .box {
        margin: 0 0 30px;
    }

    /* For Right Side Active */
    .nav-pills-custom .nav-link::before {
        content: "";
        display: block;
        border-top: 8px solid transparent;
        border-right: 10px solid #ae0a46;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        left: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }

    .nav-pills-custom .nav-link.active::before {
        opacity: 1;
    }

    /* For Left Side Active */
    .nav-pills-custom2 .nav-link::before {
        content: "";
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #ae0a46;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -7px;
        transform: translateY(-50%);
        opacity: 0;
    }

    .nav-pills-custom2 .nav-link.active::before {
        opacity: 1;
    }

    /* For Left Side Active */
    .nav-pills-custom3 .nav-link::before {
        content: "";
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #ae0a46;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }

    .nav-pills-custom3 .nav-link.active::before {
        opacity: 1;
    }

    .bbb_slider_container {
        margin-top: 15px;
    }

    /* For mobile phones: */
    .sub_tabs_button {
        border-bottom: 2px solid silver;
        padding-top: 0px;
    }

    .sub_tabs_button button {
        min-width: 100px;
        text-align: center;
        padding: 10px 20px;
        border: none;
        outline: none;
        background: #eee;
        color: #222;
        font-size: 16px;
        font-weight: 500;
        border-radius: 0px 0px 0px 0px;
        border: 1px solid silver;
        margin-top: 10px;
    }

    .masthead-page h1 {
        font-size: 2.5rem;
    }

    .custom-product-grid {
        margin-bottom: 30px;
    }

    .ipads_menu {
        display: inline;
        font-size: 16px;
        margin-left: 5px;
        margin-bottom: 5px;
        font-weight: 500;
    }

    /*====================== Header Menu Wrapper ========================*/
    .header_bottom_wrapper {
        background-color: #fff;
    }

    .nav_menu_wrapper {
        position: relative;
        display: block;
    }

    /*=======// Header logo //=======*/
    .header_logo img {
        width: 65px;
        margin: 2px;
        margin-bottom: 0px;
    }

    .mobile_nav_menu {
        display: none;
    }

    /*========// Mobile View //========*/
    .mobile_view_wrapper {
        display: flex;
        justify-content: space-between;
    }

    .mobile_nav_menu {
        display: block;
        margin: 8px;
    }

    .menu_icon {
        display: block;
    }

    .menu_icon a {
        color: #5f5753;
        font-size: 16px;
        margin-left: 15px;
        cursor: pointer;
    }

    /*========// Main Manu //========*/
    .nav_menu_wrapper {
        position: relative;
        display: block;
        justify-content: space-between;
        border-bottom: 4px solid #efefef;
    }

    .menu_item_wrapper {
        display: flex;
        justify-content: center;
        border-top: 4px solid #ae0a46;
    }

    .mb_sh {
        display: block;
    }

    /*--------------------- Menu Style ----------------------*/
    .menu_item_wrapper {
        display: block;
    }

    .menu_item {
        margin-bottom: -0px;
        border-bottom: none;
    }

    .menu_item button {
        border: none;
        outline: none;
        background: none;
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 500;
        transition: 0.4s;
        width: 100%;
        text-align: start;
        border-bottom: 1px solid silver;
    }

    .menu_item button:hover {
        border: none;
        background: none;
        padding: 10px 23px;
        font-size: 14px;
        font-weight: 500;
        border-bottom: 1px solid #ae0a46;
    }

    .back_button_style {
        border: none;
        outline: none;
        background: none;
        padding: 5px 10px;
        font-size: 12px;
        font-weight: 500;
        transition: 0.4s;
        width: 100%;
        cursor: pointer;
        padding-left: 20px;
    }

    /* Sub menu Button Design */
    .back_menu {
        background: #eee;
        display: block;
        border-bottom: 1px solid silver;
    }

    .sub_menu {
        display: block;
        padding: 0px;
        background-color: #fff;
        border-top: none;
    }

    .colum-12 {
        flex: 0 0 25%;
        max-width: 100%;
        padding: 0px;
    }

    .sub_menu h3 {
        color: #222;
        font-size: 14px;
        font-family: arial;
        cursor: pointer;
        display: block;
        width: 100%;
        border-bottom: 1px solid silver;
        padding: 5px 20px;
        margin: 0px;
        transition: 0.4s;
    }

    .sub_menu h3:hover {
        border-bottom: 1px solid #ae0a46;
        padding: 5px 22px;
    }

    .sub_menu p {
        color: #5f5753;
        background: none;
        font-size: 16px;
        font-family: arial;
        display: none;
    }

    .sub_menu a {
        display: block;
        color: #5f5753;
        background: none;
        font-size: 16px;
        margin: 10px 0px;
        font-family: arial;
    }

    .sub_menu a:hover {
        color: #6f062d;
        border-bottom: none;
        background: none;
        text-decoration: none;
    }

    .sub_menu_wrapper {
        position: relative;
    }

    .sub_sub_item {
        background: #fff;
        top: 0px;
        width: 100%;
        height: 100%;
    }

    .sub_sub_item a {
        padding: 2px 30px;
        margin: 0px;
        font-size: 14px;
        background-color: #eee;
        border-bottom: 1px solid silver;
        transition: 0.4s;
    }

    .sub_sub_item a:hover {
        padding: 2px 32px;
        border-bottom: 1px solid #ae0a46;
    }

    /*=======================*/
    .sub_menu_footer {
        background: #fff;
        display: block;
    }

    .sub_menu_footer_item {
        width: 100%;
        padding: 3px 10px;
        border-bottom: 1px solid silver;
    }

    .sub_menu_footer a {
        color: #222;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        margin-left: 10px;
    }

    .sub_menu_footer a:hover {
        color: #ae0a46;
    }

    /*--------------------- Active Show-Hide Dont Change That ----------------------*/
    .sub_menu_wrapper {
        z-index: 100;
        display: none;
        opacity: 0;
        background-color: #fff;
        position: absolute;
        top: 44px;
        right: 0;
        width: 100%;
        height: 100%;
    }

    .menu_btn_active {
        opacity: 1;
        display: block;
    }

    /*-------sub sub-------*/
    .item {
        margin: 5px;
        border: 1px solid #efefef;
        padding: 5px;
    }

    .hidden {
        display: none;
    }

    /*---------End-------*/
    /*=======/// Script Show Hide///=======*/
    .display_none {
        display: none;
    }

    .display_block {
        display: block;
    }

    /*=========/// Script Show Hide///========*/
    /*==========// Header Search //=======*/
    .search_menu {
        background-color: #eee;
        width: 100%;
        position: absolute;
        padding-bottom: 100%;
        z-index: 99999;
    }

    .header_search {
        display: flex;
        justify-content: end;
    }

    .header_search input[type="search"] {
        margin: 10px 15px 0px 15px;
        padding: 5px 10px;
        background: #f7f6f5;
        border: none;
        border-top: 1px solid #dad9d8;
        border-left: 1px solid #dad9d8;
        border-bottom: 1px solid #dad9d8;
        font-size: 14px;
        width: 92%;
    }

    .header_search input:focus[type="search"] {
        margin: 10px 15px 0px 15px;
        padding: 5px 10px;
        background: #f7f6f5;
        border: none;
        border-top: 1px solid #dad9d8;
        border-left: 1px solid #dad9d8;
        border-bottom: 1px solid #dad9d8;
        font-size: 16px;
        width: 82%;
    }

    .header_search input::placeholder {
        color: #5f5753;
    }

    .header_search button {
        margin: 10px 15px 0px -15px;
        padding: 5px 10px;
        background: #f7f6f5;
        outline: none;
        border: none;
        border-top: 1px solid #dad9d8;
        border-right: 1px solid #dad9d8;
        border-bottom: 1px solid #dad9d8;
        color: #5f5753;
    }

    .breadcrumb {
        height: 35px;
    }

    .breadcrumb__title {
        font-size: 11px;
    }

    .breadcrumb__item {
        padding: 0 30px;
    }
}

/* Large Devices (e.g., Desktops) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    /* Styles for screens between 993 and 1200 pixels wide */

    .cart_body_wrapper {
        flex-direction: row;
    }

    .menu_item button:focus::after {
        content: "";
        position: absolute;
        left: 40%;
        border: solid transparent;
        border-bottom: solid 10px #ae0a46;
        border-left: solid 10px transparent;
        border-right: solid 10px transparent;
        top: 45px;
    }

    .cart_body_left {
        width: calc(100% - 25%);
    }

    .cart_sidebar_sumury {
        width: 25%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1400px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 12px !important;
    }

    .header_top_phone {
        display: none;
    }

    .sub-menu-spacing {
        margin: auto;
    }
    .pdf_btn {
        font-size: 12px;
        width: 11rem;
        padding: 12px 7px;
    }
    #id-about-player {
        pointer-events: none;
        width: 545px;
        height: 307px;
    }
}

@media only screen and (min-width: 1430px) and (max-width: 1890px) {
    .sub-menu-spacing {
        margin: auto;
    }
}

/* @media only screen and (min-width: 1588px) and (max-width: 1666px) {
    .sub-menu-spacing {
        margin: auto;
    }
}

@media only screen and (min-width: 1666px) and (max-width: 1890px) {
    .sub-menu-spacing {
        margin: auto;
    }
} */

/* @media only screen and (min-width: 1800px) and (max-width: 1800px) {
    .sub-menu-spacing{
        margin: auto 1rem;
    }
} */

/* Extra Large Devices (e.g., Larger Desktops) */
/* @media only screen and (min-width: 1201px) {
    .menu-section {
        height: 4rem;
    }
} */
